#nathan-questions {
    padding-left: 40px; /* Add left padding to move content to the right */
}
.question-date {
    font-size: 0.8em;
    color: #888;
    margin-bottom: 10px;
    padding-left: 5px;
    display: block;
}
.collapsible1 {
    background-color: #325a95;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 95%; /* Decreased width */
    margin: 0 auto; /* Center the buttons */
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif; /* Change font to Georgia */
    border-radius: 10px; /* Added round edges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}
.collapsible2 {
    background-color: #fed9a8;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 18px;
    width: 95%; /* Decreased width */
    margin: 0 auto; /* Center the buttons */
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif; /* Change font to Georgia */
    border-radius: 10px; /* Added round edges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}
.active, .collapsible1:hover {
    background-color: #555;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Slightly deeper shadow on hover */
}
.active, .collapsible2:hover {
    background-color: #fffa5c;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Slightly deeper shadow on hover */
}
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    border-radius: 0 0 10px 10px; /* Round edges for the bottom part */
}
.title {
    margin-top: 30px; /* Adjust this value as needed */
    margin-bottom: 30px;
}